<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" class="text-center">Contract Id</th>
        <th scope="col" class="text-center">Date</th>
        <th scope="col" class="text-center">Company</th>
        <th scope="col" class="text-center">City</th>
        <th scope="col" class="text-center">State</th>
        <th scope="col" class="text-center">Role</th>
        <th scope="col" class="text-center">Salary</th>
        <th scope="col" class="text-center">Payment Period</th>
        <th scope="col" class="text-center">Performance Review</th>
        <th scope="col" class="text-center">Benefits</th>
        <th scope="col" class="text-center">Worker id</th>
        <th scope="col" class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-active" *ngFor="let item of contracts$ |async;index as i">
        <th scope="row">{{item.contractId}}</th>
        <td class="text-center">{{item.date}}</td>
        <td class="text-center">{{item.companyName}}</td>
        <td class="text-center">{{item.city}}</td>
        <td class="text-center">{{item.state}}</td>
        <td class="text-center">{{item.role}}</td>
        <td class="text-center">{{item.salary}}</td>
        <td class="text-center">{{item.paymentPeriod}}</td>
        <td class="text-center">{{item.performanceReviewPeriod}}</td>
        <td class="text-center">{{item.benefits?.[0]?.name}}</td>
        <ng-container *ngFor="let worker of join$ |async;index as j">
          <td *ngIf="j===i" class="text-center"> <span *ngIf="worker[0]?.fullName">{{worker[0]?.fullName}}</span><span
              *ngIf="!worker[0]?.fullName"> Not registered</span></td>
        </ng-container>
        <td class="text-center">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">Options</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" (click)="onGoToEdit(item)">Edit</a>
            <a class="dropdown-item" (click)="onGoToView(item)">View</a>
            <a class="dropdown-item" (click)="onGoToDelete(item?.id)">Delete</a>
            <ng-container *ngFor="let worker of join$ |async;index as j">
              <a *ngIf="j===i" class="dropdown-item" (click)="openModal(item,worker[0]?.fullName)"> document</a>
              <!-- <a *ngIf="j===i" class="dropdown-item" (click)="onGoToGenerate(item,worker[0]?.fullName)"> document</a> -->
            </ng-container>

          </div>
        </td>
      </tr>
    </tbody>
  </table>


</div>


<div class="modal-window" *ngIf="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Insert signature</h5>
        <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="formFile-worker" class="form-label mt-4">Worker signature : </label>
          <input (change)="handleFileSelect($event)" type="file" id="formFile-worker">
          <br>
          <label for="formFile" class="form-label mt-4">Company signature :</label>
          <input (change)="handleFileSelect($event)" type="file" id="formFile">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onGoToGenerate()">Download</button>

      </div>
    </div>
  </div>
</div>