<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" class="text-center">Contract Id</th>
        <th scope="col" class="text-center">Date</th>
        <th scope="col" class="text-center">Company</th>
        <th scope="col" class="text-center">City</th>
        <th scope="col" class="text-center">State</th>
        <th scope="col" class="text-center">Role</th>
        <th scope="col" class="text-center">Salary</th>
        <th scope="col" class="text-center">Payment Period</th>
        <th scope="col" class="text-center">Performance Review</th>
        <th scope="col" class="text-center">Benefits</th>
        <th scope="col" class="text-center">Worker id</th>
        <th scope="col" class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-active" *ngFor="let item of contracts$ |async;index as i">
        <th scope="row">{{item.contractId}}</th>
        <td class="text-center">{{item.date}}</td>
        <td class="text-center">{{item.companyName}}</td>
        <td class="text-center">{{item.city}}</td>
        <td class="text-center">{{item.state}}</td>
        <td class="text-center">{{item.role}}</td>
        <td class="text-center">{{item.salary}}</td>
        <td class="text-center">{{item.paymentPeriod}}</td>
        <td class="text-center">{{item.performanceReviewPeriod}}</td>
        <td class="text-center">{{item.benefits?.[0]?.name}}</td>
        <ng-container *ngFor="let worker of join$ |async;index as j">
          <td *ngIf="j===i" class="text-center"> {{worker[0].fullName?worker[0].fullName:'empty'}}</td>
        </ng-container>
        <td class="text-center">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">Options</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" (click)="onGoToEdit(item)">Edit</a>
            <a class="dropdown-item" (click)="onGoToView(item)">View</a>
            <a class="dropdown-item" (click)="onGoToDelete(item?.id)">Delete</a>
            <a class="dropdown-item" (click)="onGoToGenerate(item)"> document</a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>