<button type="button" class="btn  btn-secondary mt-2" (click)="goBack()">Back</button>
<form class="mt-3 mx-auto col-md-8 offset-md-2" style=" width:40%" (ngSubmit)="onSave()" [formGroup]="contractForm">
  <div class="form-row mx-auto ">
    <div class="form-group mt-1 ">
      <input type="text" placeholder="Contract Id" class="form-control" formControlName="contractId">
    </div>
    <div class="form-group mt-1 ">
      <input type="date" placeholder="Date" class="form-control" formControlName="date">
    </div>
  </div>
  <div class="form-row mx-auto">
    <div class="form-group mt-1 ">
      <input type="text" placeholder="Company" class="form-control" formControlName="companyName">
    </div>
    <div class="form-group mt-1 ">
      <input type="text" placeholder="City" class="form-control" formControlName="city">
    </div>
  </div>
  <div class="form-row mx-auto">
    <div class="form-group mt-1 ">
      <input type="text" placeholder="State" class="form-control" formControlName="state">
    </div>
    <div class="form-group mt-1 ">
      <input type="text" placeholder="Role" class="form-control" formControlName="role">
    </div>
  </div>
  <div class="form-row mx-auto">
    <div class="form-group mt-1 ">
      <input type="text" placeholder="Salary" class="form-control" formControlName="salary">
    </div>
    <div class="form-group mt-1 ">
      <input type="text" placeholder="Payment review period" class="form-control" formControlName="paymentPeriod">
    </div>
  </div>
  <div class="form-row mx-auto">
    <div class="form-group mt-1">
      <input type="text" placeholder="performance Review Period" class="form-control"
        formControlName="performanceReviewPeriod">
    </div>
    <div class="form-group mt-1" formArrayName="benefits">
      <p>Benefits</p>
      <input type="text" placeholder="name" class="form-control" formControlName=name>
      <input type="text" placeholder="frequency" class="form-control" formControlName="frequency">
    </div>
  </div>
  <div class="form-row mx-auto">
    <p>worker</p>
    <div class="form-group mt-1">
      <input type="text" placeholder="Worker Id" class="form-control" formControlName="workerId">
    </div>
  </div>

  <button type="submit" class="btn btn-outline-success btn-block mt-3">Save</button>
</form>